#wrapper {
	width: 960px;
	margin: 25px auto 25px auto;
}

#content {
	height: 100%;
	overflow: auto;	
	width: 650px;
	margin-top: 30px;
	float: left;
}

#internalContent {
	height: 100%;
	overflow: auto;	
	width: 100%;
	margin-top: 50px;
	float: left;
}

#style_wrapper {
	width: 960px;
	margin: 25px auto 100px auto;
}

aside {
	float: left;
	background-color: white;
	height: 100%;
	width: 270px;
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 20px;
}

header {
	height: 75px;
	background-color: #00A4BA;
	margin-top: -25px;
	margin-left: -15px;
	position: fixed;
	width: 100%;
	padding-left: 40px;
}

#header_pic {
	height: 50px;
	float: left;
	margin: 10px 30px 10px auto;
}

footer {
	height: 60px;
	background-color: gray;	
	clear: both;
	margin-top: 300px;
	margin-bottom: -60px;
	margin-left: -15px;
	padding: 10px 10px 10px 10px;
}

.feature {
	background-color: white;
}

img.feature {
	width: 650px;
}

.second {
	width: 285px;
	margin: 10px;
	background-color: white;
	float: left;
}

img.second {
	height: 200px;
	position: relative;
	left: -10px;
}

