body {
	background-color: white;
	margin-left: 80px;
}

#main {
	font-family: 'Martel', serif;
	font-weight: bold;
	color: #00A4BA;
}

.cat {
	font-family: Avenir, sans-serif;
	color: #727272;
	font-weight: bold;
}

.details {
	font-family: Garamond, serif;
	color: black;
	font-weight: lighter;
}

.data {
	font-family: Courier, monospace;
	color: #002A2A;
}

h1 {
	font-family: Avenir, sans-serif;
	color: #FF8B31;
}

h2 {
	font-family: Avenir, sans-serif;
	color: #FF8B31;
}

h3 {
	font-family: Avenir, sans-serif;
	color: #FF8B31;
}

p {
	font-family: Helvetica, sans-serif;
	color: #727272;
}

li {
	font-family: Courier, monospace;
	color: #002A2A;
}